<form autocomplete="on" method="post">
     <fieldset>
         <div class="loginError"></div>
         <legend class="loginRegisterTitle"></legend>
         <label for="username">Username:</label>
         <input class="usernameSignUp" type="text" name="username" pattern=".{1,}" required title="1 characters minimum" required>
         <br>
         <label for="password">Password:</label>
         <input class="passwordSignUp" type="text" name="password" pattern=".{10, 72}" required title="10 characters minimum" required>
         <br>
         <label for="firstName">First Name:</label>
         <input class="firstnameSignUp" type="text" name="firstName" required>
         <br>
         <label for="lastName">Last Name:</label>
         <input class="lastnameSignUp" type="text" name="lastName" required>
         <br>
         <label for="email">Email:</label>
         <input class="emailSignUp" type="email" name="email" required>
         <br>
         <button class="loginButton signingUpNewAccount" type="submit">Submit</button>
     </fieldset>
 </form>
 <a href="#" id="login"><p class="toggleReg">LogIn</p></a>