<section class="memoryList">
<section>
        <div class="modal-content">
                <div class="closeButton"><i class="fas fa-times fa-3x"></i></div>
                <h1></h1>
                <p></p>
                <br>
                <p></p>
                <br>
                <p>
    
                </p>
        </div>
    </section>
    <section role="region" class="startMemo modal">
        <div class="modal-content">
            <div class="closeButton"><i class="fas fa-times fa-3x"></i></div>
            <h1>Start Making Memories</h1>
            <p>You currently have no memories. Click the "Add Memory" button to enter the event of the memory</p>
        </div>
    </section>

    <section role="region" class="signout modal">
        <div class="modal-content">
            <div class="closeButton"><i class="fas fa-times fa-3x"></i></div>
                <h3></h3>
                <button class="signOutNo">No, just one minute...</button>
                <button class="signOutYes">Yes, I'm done!</button>
        </div>
    </section>

    <section role="region" class="vacationEdit modal" aria-live="assertive"></section>
    
    <section role="region" class="memoriesEdit modal" aria-live="assertive"></section>

    <section role="region" class="vacationInfo" aria-live="assertive">
        <div>
            <img class="hotelicon">
            <h1></h1>
        </div>
        <a class="vacationEdit" href="#">view/edit</a>
    </section>

    <section role="region" class="memoriesAdd modal">
        <form role="form" class="memoInput modal-content">
            <div class="closeButton"><i class="fas fa-times fa-3x"></i></div>
            <fieldset class="row">
                <div class="col-3">
                    <label for="date">Date:</label>
                    <br>
                    <input class="memoDate" type="date" name="date" required>
                    <br>
                    <label for="event">Event:</label>
                    <br>
                    <input class="memoTitle" type="text" name="memories" required>
                </div>

                <div class="col-6">
                    <label for="description">Description:</label>
                    <br>
                    <textarea class="memoDescription" rows="5" name="description" required></textarea>
                </div>
                <div class="col-3">
                    <button class="button Posbutton" type="submit">Submit</button>
                </div>
            </fieldset>
        </form>
    </section>
    <section role="region">
        <div class="addMemoButton"><i class="fas fa-smile"></i>Add Memory</div>
        <hr>
        <div class="memoryList" aria-live="assertive"></div>
    </section>
</section>