<h3>Life is too short, navigate your next adventure with Captains Log!</h3>
<section class="loginRegister row">
    <div class="col-6"><button id="signUp">Sign Up!</button></div>
    <div class="col-6"><button id="login">Login!</button></div>
</section>
<section class="row visualTutorial">
    <h2>All aboard:</h2>
    <div class="col-4">
        <div class="spotlight">
            <p class="step">Sign Up</p>
            <div class="badgeIcon"><i class="fas fa-address-card"></i></div>
        </div>
    </div>
    <div class="col-4">
        <div class="spotlight">
            <p class="step">Add Trip</p>
            <div class="badgeIcon"><i class="fas fa-passport"></i></div>
        </div>
    </div>
    <div class="col-4">
        <div class="spotlight">
            <p class="step">Create Memories</p>
            <div class="badgeIcon"><i class="fas fa-smile"></i></div>
        </div>
    </div>

</section>