html {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/wczfl6k/looking-out-airplane-window-in-flight_niiccbfye__F0000.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

body {
    margin: 0;
}

.vacationPage {
    background-color: #caebf2;
}

.memoPage {
    background-color: #ff3b3f;
    height: 100%;
}

header {
    background-color: #efefef;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}

h2 {
    text-align: center;
}

body, button {
    font-family: 'Rubik', sans-serif;
}

button {
    border-radius: 10%;
}

#signUp, #login {
    position: absolute;
    width: 100px;
    height: 50px;
}

#signUp {
    right: 0;
}

#login {
    left: 0;
}

.loginForm, .signUpForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

legend {
    text-align: center;
}

.visualTutorial {
    padding-top: 50px;
}

#Logo {
    font-family: 'Cardo', serif;
    margin-bottom: 0;
}

#Logo:hover {
    cursor: pointer;
}

.fa-life-ring {
    animation: rotation 2s infinite linear;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

main {
    padding-top: 85px;
}

#visualTutorial {
    margin-top: 50px;
}

/* .arrival, .departure, .trip, #edit, #delete {
    font-family: 'Rubik', sans-serif;
} */

.arrival, .departure {
    font-weight: 600;
}

.trip {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.spotlight {
    border: 1px solid black;
    border-radius: 20%;
    background-color: #c2d4d8;
}

.eventList {
    background-color: white;
}

.step {
    font-weight: 800;
    text-align: center;
}

li {
    list-style-type: none;
}

.vacInfo {
    border: solid;
}

.badgeIcon {
    font-size: 2em;
    text-align: center;
}

.signout, .about {
    display: none;
}

.memoryList {
    margin-top: 12px;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 500px) {
    .addMemories {
        font-size: 10px;
        margin-top: 12px;
    }
}