
/* Make sure there is space between content and edge of the screen */
body {
    margin: 0;
}

.landingPage {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/wczfl6k/looking-out-airplane-window-in-flight_niiccbfye__F0000.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Use vh to make image fit the entire screen */
    height: 140vh;
}

/* Allow Vacation and Memories Pages to have different backgrounds */
.vacationPage {
    background-color: #4484ce;
}

.memoPage {
    background-color: #66fcf1;
}

header {
    background-color: #8fc1e3;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center;
}

body, button {
    font-family: 'Rubik', sans-serif;
}

button, a#login, a#signUp {
    border-radius: 10%;
    background-color: skyblue;
    font-weight: 600;
    box-shadow: 1px 2px 2px mediumslateblue;
}

button#signUp {
    position: absolute;
    display: block;
    right: 20px;
}

button:focus, .selectVac:focus {
    border: 2px solid red;
}

button#signUp, button#login {
    width: 100px;
    height: 50px;
}

a#signUp, a#login {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 30px;
}

.toggleReg {
    color: black;
    padding-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
}

section.loginRegister.row {
    padding-bottom: 30px;
}

.loginForm, .signUpForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    background: rgba(200,200,200,0.5);
}

legend {
    text-align: center;
    background: #d9d9d9;
}

.visualTutorial {
    background-color: rgba(250, 250, 250, 0.4);
}

section.loginRegister.row.box-structure {
    padding: 0;
    padding-bottom: 20px;
}

#Logo {
    font-family: 'Cardo', serif;
    margin-bottom: 0;
}

#Logo:hover {
    cursor: pointer;
}

.fa-life-ring {
    animation: rotation 2s infinite linear;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

main {
    padding-top: 85px;
}

#visualTutorial {
    margin-top: 50px;
}

.arrival, .departure {
    font-weight: 600;
}

.trip {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.loginButton, .signingInAcc {
    margin-top: 10px;
}

.spotlight {
    height: 120px;
    border: 1px solid black;
    border-radius: 20%;
    background-color: #c2d4d8;
}

nav {
    padding-bottom: 4px;
}

.signOutOpt, .aboutOpt {
    background-color: #1f2833;
    color: white;
    font-weight: 400;
    margin-right: 5px;
}

.signOutYes {
    margin-top: 10px;
}

.addVacation {
    background-color: #a8d0e6;
}

.postbtn {
    margin-top: 10px;
}

.eventList {
    margin-top: 10px;
    background-color: white;
    padding-bottom: 15px;
    width: 50%;
}

.selectVac {
    margin-top: 15px;
    text-align: center;
    border: 1px solid;
    border-radius: 10%;
    box-shadow: 1px 2px 2px darkslategrey;
}

.selectVac:hover, button:hover, .snapMemo {
    cursor: pointer;
}


.vacLoca {
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
}

.step {
    font-weight: 800;
    text-align: center;
}

li {
    list-style-type: none;
}

.vacInfo {
    border: solid;
}

.badgeIcon {
    font-size: 2em;
    text-align: center;
}

.signout, .about {
    display: none;
}

.vacationFormInput, .memoriesAdd {
    display: none;
}

.toVacPage, .addMemories, .viewDes {
    background-color: #6abcf3;
}

.memoryList {
    margin-top: 12px;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 500px) {
    .addMemories {
        font-size: 10px;
        margin-top: 12px;
    }

    .loginForm, .signUpForm {
        width: 70%;
    }
}