
/* Make sure there is space between content and edge of the screen */
body {
    margin: 0;
}

.landingPage {
    background-color: #25c5df;
}

/* Allow Vacation and Memories Pages to have different backgrounds */
.vacationPage {
    background-color: #acf5fb;
}

.memoPage {
    background-color: rgb(102, 252, 241);
}

header {
    background-color: #cdf9ff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    text-align: center;
}

body, button {
    font-family: 'Rubik', sans-serif;
}

#Intro {
    font-size: 1.7rem;
    text-align: center;
}

.tutorialHook {
    text-align: center;
    font-weight: 600;
}

button, a#login, a#signUp {
    border-radius: 10px;
    background-color: skyblue;
    font-weight: 600;
    box-shadow: 1px 2px 2px mediumslateblue;
}

.closeButton {
    margin: 20px auto;
}

button#signUp {
    position: absolute;
    display: block;
    right: 20px;
}

button#login {
    position: absolute;
    left: 20px;
}

button#liveDemo {
    margin-bottom: 10px;
}

button:focus, .selectVac:focus {
    border: 2px solid red;
}

button#signUp, button#login, button#liveDemo {
    width: 200px;
    height: 70px;
    font-size: 1.6rem;
}

legend {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 1.2rem;
    text-align: center;
    background: #fff;
}

label {
    display: block;
    margin: 0.8rem auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 1rem;
}

input {
    height: 1.5rem;
    margin-bottom: 10px;
}

a#signUp, a#login {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    width: 100px;
    height: 30px;
}

.toggleReg {
    color: black;
    padding-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 90%;
}

section.loginRegister.row {
    padding-bottom: 30px;
}

.loginForm, .signUpForm {
    text-align: center;
    background: #43daee;
    padding-bottom: 1.5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.vacationFileInput, .vacEditFileInput, .newMemoInput, .memoInput {
    background: #43daee;
}

section.row.visualTutorial {
    background-color: rgba(250, 250, 250, 0.6);
    position: initial;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2rem;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 50px;
    width: 85%;
}

section.loginRegister.row.box-structure {
    padding: 0;
}

#Logo {
    font-family: 'Cardo', serif;
    margin: 5px;
}

#Logo:hover {
    cursor: pointer;
}

main {
    padding-top: 85px;
    padding-bottom: 85px;
    margin-top: 15px;
}

.arrival, .departure {
    font-weight: 600;
}

.trip {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.loginButton, .signingInAcc {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-size: 1rem;
}

.spotlight {
    height: 100px;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #c2d4d8;
}

nav {
    padding-bottom: 4px;
}

.signOutOpt, .aboutOpt {
    background-color: #1f2833;
    color: white;
    font-weight: 400;
    margin-right: 5px;
}

.signOutYes {
    margin-top: 10px;
    margin-left: 10px;
}

.addVacation, .addMemories, .toVacPage {
    background-color: #a8d0e6;
    height: 60px;
}

.toVacPage {
    font-size: 1rem;
}

.postbtn {
    font-size: 1.1rem;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 7rem;
}

.eventList {
    margin-top: 10px;
    border-radius: 1rem;
    background-color:#75d5e3;
    padding-bottom: 15px;
    width: 50%;
}

.selectVac {
    margin-top: 15px;
    text-align: center;
    border: 1px solid;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px darkslategrey;
}

.selectVac:hover, button:hover, .toVacPage:hover, a:hover{
    cursor: pointer;
    background: black;
    color: white;
}


.vacLoca {
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
}

.step {
    font-weight: 800;
    text-align: center;
    font-size: 1.6rem;
}

.listVac {
    border: 1px solid;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1rem;
    text-align: center;
    background-color: #75d5e3;
}

.snapButtons {
    margin-bottom: 15px;
    text-align: center;
}

.editVac, .editMemo {
    margin-right: 20px;
}

.editVac, .deleteVac, .editMemo, .deleteMemo {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    height: 50px;
}

li {
    list-style-type: none;
}

.vacInfo {
    border: solid;
}

.badgeIcon {
    font-size: 1.8rem;
    text-align: center;
}

.signout, .about {
    display: none;
}

.vacationFormInput, .memoriesAdd {
    display: none;
}

.viewDes {
    font-size: 1.3rem;
    height: 2.2rem;
    width: 2.2rem;
    background-color: #a8d0e6;
}

.memoryList {
    margin-top: 12px;
}

.fullMemo {
    background-color: rgb(172, 245, 251);
    border: 1px solid;
    border-radius: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.memoryDescription {
    margin: 15px;
}

.selectVac, .memoryDescription, .memoContainer {
    font-weight: 600;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 500px) {
    #Intro {
        font-size: 1.05rem;
        margin-top: 0;
    }

    button#signUp, button#login, button#liveDemo {
        width: 100px;
        height: 50px;
        font-size: 1rem;
    }

    .step {
        font-size: .7rem;
    }

    .addMemories {
        font-size: 10px;
        margin-top: 20px;
    }

    .loginForm, .signUpForm {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) and (min-height: 600px) {
    h3 {
        font-size: 1.6rem;
        text-align: center;
    }

    label {
        font-size: 1.2rem;
    }

    textarea {
        float: left;
    }

    input {
        height: 2rem;
        font-size: 1rem;
    }

    .signOutOpt, .aboutOpt {
        height: 25px;
    }

    .signOutNo, .signOutYes {
        height: 30px;
    }

    .editVac, .deleteVac, .editMemo, .deleteMemo {
        font-size: 1.1rem;
        padding-left: 15px;
        padding-right: 15px;
    }

    .postbtn {
        height: 40px;
        font-size: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1100px) {
    h1 {
        font-size: 1.8rem;
    }

    label {
        font-size: 1.3rem;
    }

    legend {
        font-size: 1.6rem;
    }

    .loginButton, .signingInAcc {
        width: 120px;
        height: 50px;
        font-size: 1.5rem;
    }

    a#signUp, a#login {
        font-size: 1.6rem;
        width: 120px;
        height: 40px;
    }

    .spotlight {
        height: 150px;
    }

    .badgeIcon {
        font-size: 2.7rem;
    }

    .step {
        font-size: 1.2rem;
    }

    section.row.visualTutorial{
        margin-top: 65px;
    }

    .signOutOpt, .aboutOpt {
        height: 30px;
        font-size: 15px;
    }

    .modal-content {
        font-size: 1.5rem;
    }

    .signOutNo, .signOutYes {
        font-size: 1.5rem;
    }

    .selectVac {
        font-size: 1.3rem;
    }

    .listVac {
        font-size: 1.5rem;
    }

    .memoryList, .listofvacations {
        width: 50%;
        justify-content: center;
        margin: 20px auto;
    }

    .editVac, .deleteVac, .editMemo, .deleteMemo {
        font-size: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    h2 {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1020px) and (max-height: 700px) {
    .spotlight {
        height: 150px;
    }

    .tutorialHook {
        font-size: 1.6rem;
    }

    section.row.visualTutorial{
        margin-top: 65px;
    }

    .loginButton, .signingInAcc {
        width: 120px;
        height: 50px;
        font-size: 1.5rem;
    }

    .memoryList, .listofvacations {
        width: 50%;
        justify-content: center;
        margin: 20px auto;
    }

    a#signUp, a#login {
        font-size: 1.6rem;
        width: 120px;
        height: 40px;
    }

    .badgeIcon {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1020px) and (min-height: 800px) {
    h1 {
        font-size: 2.1rem;
    }

    #Logo {
        margin-top: 0;
        font-size: 2.3rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 2rem;
    }

    .landingPage {
        background-size: cover;
    }

    .tutorialHook {
        font-size: 1.6rem;
    }

    input {
        height: 3rem;
        font-size: 1.6rem;
    }

    .spotlight {
        height: 150px;
    }

    .signOutOpt, .aboutOpt {
        height: 40px;
        font-size: 20px;
    }

    section.row.visualTutorial{
        margin-top: 55px;
    }

    .loginButton, .signingInAcc {
        width: 120px;
        height: 50px;
        font-size: 1.5rem;
    }

    a#signUp, a#login {
        font-size: 1.6rem;
        width: 120px;
        height: 40px;
    }

    .badgeIcon {
        font-size: 3rem;
    }

    .memoryList, .listofvacations {
        width: 50%;
        justify-content: center;
        margin: 20px auto;
    }

    .addVacation {
        height: 100px;
    }

    .selectVac {
        font-size: 2rem;
    }

    .listVac {
        font-size: 2rem;
    }

    .closeButton {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .postbtn, .Posbutton {
        font-size: 2rem;
    }

    .toVacPage {
        height: 60px;
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .editVac, .deleteVac, .editMemo, .deleteMemo {
        font-size: 2.2rem;
        padding-left: 30px;
        padding-right: 30px;
    }

    .memoryList {
        margin-top: 20px;
    }

    .memoContainer {
        font-size: 2rem;
    }

    .viewDes {
        padding-left: 15px;
        padding-right: 15px;
    }

    .memoryDescription {
        font-size: 1.7rem;
    }
}