header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}

h2 {
    text-align: center;
}

body, button {
    font-family: 'Rubik', sans-serif;
}

#signUp, #login {
    position: absolute;
}

#signUp {
    right: 0;
}

#login {
    left: 0;
}

#Logo {
    font-family: 'Cardo', serif;
    margin-bottom: 0;
}

#Logo:hover {
    cursor: pointer;
}

main {
    padding-top: 85px;
}

#vacationLog {
    margin-top: 50px;
}

/* .arrival, .departure, .trip, #edit, #delete {
    font-family: 'Rubik', sans-serif;
} */

.arrival, .departure {
    font-weight: 600;
}

.trip {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}