<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../partials/head %>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
   <% include ../js/app %>
   <% include ../js/vacation %>
   <% include ../js/memories %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <% include ../partials/tutorial %>

    </main>
</body>
</html>